                        <ul>
{% for categoryItem in categoryList %}
                            <li>
{% if categoryItem.products|length %}
                                <a href="{{ path('categoryItem', {categoryName: categoryItem.name}) }}">
                                    {{ categoryItem.title }}
                                </a>
{% else %}
                                <span>
                                    {{ categoryItem.title }}
                                </span>
{% endif %}
{% if categoryItem.categories %}
                                <ul>
{% for subCategoryItem in categoryItem.categories %}
                                    <li>
{% if subCategoryItem.products|length %}
                                        <a href="{{ path('categoryItem', {categoryName: subCategoryItem.name}) }}">
                                            {{ subCategoryItem.title }}
                                        </a>
{% else %}
                                        <span>
                                            {{ subCategoryItem.title }}
                                        </span>
{% endif %}
                                    </li>
{% if subCategoryItem.categories %}
{% for subSubCategoryItem in subCategoryItem.categories %}
                                    <li class="submenu">
                                        <a href="{{ path('categoryItem', {categoryName: subSubCategoryItem.name}) }}">
                                            {{ subSubCategoryItem.title }}
                                        </a>
                                    </li>
{% endfor %}
{% endif %}
{% endfor %}
                                </ul>
{% endif %}
                            </li>
{% endfor %}
                        </ul>