{% extends '@App/base.html.twig' %}

{% block content %}
                <h1>Прайс-лист</h1>
                <table class="price-list-table">
{% for categoryItem in categoryList %}
                    <tr class="odd">
                        <td colspan="2" class="group">
                            {{ categoryItem.title }}
                        </td>
                    </tr>
{% if categoryItem.products|length %}
{% for productItem in categoryItem.products %}
                    <tr class="odd">
                        <td class="title">
                            <a href="{{ path('productItem', {categoryName: productItem.category.name, id: productItem.id}) }}">
                                {{ productItem.title }}
                            </a>
                        </td>
                        <td class="price">
                            {{ productItem.price|number_format(0, '.', ' ') }} р.
                        </td>
                    </tr>
{% endfor %}
{% endif %}
{% if categoryItem.categories %}
{% for subCategoryItem in categoryItem.categories %}
                    <tr>
                        <td colspan="2" class="category">
                            {{ subCategoryItem.title }}
                        </td>
                    </tr>
{% if subCategoryItem.products|length %}
{% for productItem in subCategoryItem.products %}
                    <tr class="odd">
                        <td class="title">
                            <a href="{{ path('productItem', {categoryName: productItem.category.name, id: productItem.id}) }}">
                                {{ productItem.title }}
                            </a>
                        </td>
                        <td class="price">
                            {{ productItem.price|number_format(0, '.', ' ') }} р.
                        </td>
                    </tr>
{% endfor %}
{% endif %}
{% if subCategoryItem.categories %}
{% for subSubCategoryItem in subCategoryItem.categories %}
                    <tr>
                        <td colspan="2" class="subcategory">
                            {{ subSubCategoryItem.title }}
                        </td>
                    </tr>
{% if subSubCategoryItem.products|length %}
{% for productItem in subSubCategoryItem.products %}
                    <tr class="odd">
                        <td class="title">
                            <a href="{{ path('productItem', {categoryName: productItem.category.name, id: productItem.id}) }}">
                                {{ productItem.title }}
                            </a>
                        </td>
                        <td class="price">
                            {{ productItem.price|number_format(0, '.', ' ') }} р.
                        </td>
                    </tr>
{% endfor %}
{% endif %}
{% endfor %}
{% endif %}
{% endfor %}
{% endif %}
{% endfor %}
                </table>
{% endblock %}