<div class="modal-form">
    <script type="text/javascript">
        $(document).ready(function() {
            $('#callback').ajaxForm({
                target: ".simplemodal-wrap"
            });
        });
    </script>

    <h1>Заказать обратный звонок</h1>

    {{ form_start(form, {'attr': {'id': 'callback', 'novalidate': 'novalidate'}}) }}

    <label>Контактное лицо <span class="require">*</span></label>
    {{ form_widget(form.person) }}
    {{ form_errors(form.person) }}
    <br/>
    <label>Телефон <span class="require">*</span></label>
    {{ form_widget(form.phone) }}
    {{ form_errors(form.phone) }}
    <br/>
    <label>Комментарий</label><br/>
    {{ form_widget(form.comment) }}
    {{ form_errors(form.comment) }}

    {{ form_widget(form.send) }}

    {{ form_rest(form) }}
    {{ form_end(form) }}
</div>
